examples/example-upload-flows.json
[
    {
        "id": "273fd7a3.705148",
        "type": "upload-flows",
        "z": "479f266f.dee738",
        "name": "",
        "connection": "",
        "container": "",
        "overwrite": true,
        "x": 340,
        "y": 40,
        "wires": [
            [
                "756d44bb.6b8dcc"
            ]
        ]
    },
    {
        "id": "e888b0fb.197e6",
        "type": "inject",
        "z": "479f266f.dee738",
        "name": "実行トリガー",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "273fd7a3.705148"
            ]
        ]
    },
    {
        "id": "756d44bb.6b8dcc",
        "type": "debug",
        "z": "479f266f.dee738",
        "name": "結果出力",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 40,
        "wires": []
    },
    {
        "id": "d5165f32.11001",
        "type": "catch",
        "z": "479f266f.dee738",
        "name": "",
        "scope": [
            "273fd7a3.705148"
        ],
        "uncaught": false,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "f19f7247.3e976"
            ]
        ]
    },
    {
        "id": "1ea4e827.01d0f8",
        "type": "debug",
        "z": "479f266f.dee738",
        "name": "エラー出力",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "f19f7247.3e976",
        "type": "json",
        "z": "479f266f.dee738",
        "name": "エラーログ変換",
        "property": "error.message",
        "action": "obj",
        "pretty": false,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "1ea4e827.01d0f8"
            ]
        ]
    }
]